body {
    background-color: black;
}

img {
    display: block;
    width: 55%;
    margin: 1.5% auto 0 auto;
}

.update {
    display: block;
    width: 55%;
    margin: 2% auto 2% auto;
}

.list {
    display: block;
    width: 40%;
    margin: 2% auto 2% auto;
}

.list_narrow {
    display: block;
    width: 13%;
    margin: 2% auto 2% auto;
}

.list_wide {
    display: block;
    width: 60%;
    margin: 2% auto 2% auto;
}

h1 {
    color: black;
    background-color: white;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0.25%;
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: white;
}

p {
    color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

hr {
    color: whitesmoke;
    width: 100%;
    border: 10px dotted;
    border-style: none none dotted;
}

li {
    margin-left: 50%;
    transform: translateX(-50%);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

/* ul {
    text-align: center;
} */

.link {
    background-color: white;
    color: black;
    display: block;
    /* margin-left: 50%;
    transform: translateX(-50%); */
    font-size: 2em;
    text-align: center;
    margin: 1% 8% 0 8%;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
}

.quote {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

div {
    display: block;
    margin: 1% auto 1% auto;
    color: whitesmoke;
    width: 70%;
    border: 10px dotted;
    border-style: dotted dotted dotted;
}

.heading {
    background-color: white;
    display: block;
    /* margin-left: 50%;
    transform: translateX(-50%); */
    padding: 0.25%;
    font-size: 4em;
    text-align: center;
    margin: 4% 8% 0 8%;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
}

.section {
    background-color: white;
    display: block;
    /* margin-left: 50%;
    transform: translateX(-50%); */
    padding: 0;
    font-size: 4em;
    text-align: center;
    margin: 0 14.5% 0 14.5%;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace; 
}
